<h2>いいねしたユーザー</h2>
<% @post.liked_users.each do |user| %>
    <% if user.image? %>
        <a href="/users/<%= user.id %>"><img src=<%= user.image %> class = "icon_image" alt="ユーザーアイコン"></a>
    <% else %>
        <a href="/users/<%= user.id %>"><img src="/assets/default.png" class="icon_image" alt="ユーザーアイコン" %></a>
    <% end %>
    <a href="/users/<%= @post.user.id %>"><%= @post.user.username %></a>
    <hr>
<% end %>