<div class="row">
  <div class="col-md-6 offset-3">
    <h1>ユーザー詳細ページ</h1>
    <% if @user.id == current_user.id %>
    <%= link_to '編集する', edit_user_registration_path(current_user) %>
    <% end %>
    <h3><%= @user.username %></h3>
    <h2>投稿内容</h2>
    <% @user.posts.each do |post| %>
      <a href="/posts/<%= post.id %>"><%= post.title %></a>
      <hr>
    <% end %>
    <h3>いいねしている投稿</h3>
    <% @user.liked_posts.each do |post| %>
      <%= post.user.username %>: 
      <a href="/posts/<%= post.id %>"><%= post.title %></a>
      <hr>
    <% end %>
    <%= link_to "ユーザー一覧へ", users_path, class: 'btn btn-secondary btn-block' %>
    <hr>
    <%= link_to "ホームへ戻る", posts_path, class: 'btn btn-info btn-block' %>
    <br>
      </div>
</div>