<header>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container">
    <%= link_to "ENG OUTPUT", root_path, class: 'navbar-brand' %>
    <div id="Navber">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item active nav-notice">
            <%= link_to notifications_path, class: 'nav-link' do %>
              <%= fa_icon 'notice', class: "fas fa-bell fa-2x" %>
            <% end %>
          </li>
          <li class="nav-item active nav-new">
            <%= link_to '  NEW  ', new_post_path, class: 'nav-link btn btn-outline-success bg-lg nav-new-word' %>
          </li>
          <li class="nav-item active nav-account">
            <%= link_to  mypage_path, class: 'nav-link icon_image' do %>
              <%= fa_icon 'account', class: "far fa-user-circle fa-2x" %>
            <% end %>
          </li>
      <% else %>
          <li class="nav-item active">
            <%= link_to "ユーザー一覧", users_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to "新規登録", new_user_registration_path, class: 'nav-link btn btn-outline-success' %>
          </li>
          <li class="nav-item active">
            <%= link_to "ログイン", new_user_session_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
    </div>
  </nav>
</header>