<header>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container">
    <%= link_to "ENG OUTPUT", root_path, class: 'navbar-brand' %>
    <div id="Navber">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to 'カテゴリー', categories_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to '新規投稿', new_post_path, class: 'nav-link btn btn-outline-success' %>
          </li>
          <li class="nav-item active">
            <%= link_to 'ユーザー情報', mypage_path, class: 'nav-link' %>
          </li>
      <% else %>
          <li class="nav-item active">
            <%= link_to "新規投稿", new_post_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to "新規登録", new_user_registration_path, class: 'nav-link btn btn-outline-success' %>
          </li>
          <li class="nav-item active">
            <%= link_to "ログイン", new_user_session_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
    </div>
  </nav>
</header>