
<div class="row">
    <div class="col-md-8 offset-2">
        <%= form_tag posts_path, method: :get, class: 'posts__searchForm' do  %>
            <%= select_tag :tag_id, 
                            options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                            {
                                prompt: 'タグで絞り込み',
                                class: 'form-control posts__select',
                                onchange: 'submit(this.form);'
                            }
            %>
        <% end %>
        <br>
        <% @posts.each do |post| %>
        <div class="card text-center">
            <div class="card-header">
                <% if post.user.image? %>
                    <a href="/users/<%= post.user.id %>"><img src=<%= post.user.image %> class = "icon_image" alt="ユーザーアイコン"></a>
                <% else %>
                    <a href="/users/<%= post.user.id %>"><img src="/assets/default.png" class="icon_image" alt="ユーザーアイコン" %></a>
                <% end %>
                <%= post.user.username %>
                <br>
                <% post.tags.each do |tag| %>
                    <span class="badge badge-primary"><%= tag.name %></span>
                <% end %>
            </div>
            <div class="card-body">
                <span>タイトル</span>
                <h5 class="card-title"><%= post.title %></h5>
                <hr>
                <span>コンテント</span>
                <p class="card-text"><%= post.body %></p>
                <% if current_user %>
                    <% if current_user.already_liked?(post) %>
                        <%= link_to post_like_path(post, id: post.id), method: :delete do %>
                            <i class="fa fa-heart fa-2x" aria-hidden="true"></i>
                        <% end %>
                    <% else %>
                        <%= link_to post_likes_path(post), method: :post do %>
                            <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i>
                        <% end %>
                    <% end %>
                <% end %>
                <%= post.likes.count %>
                <br>
                <%= link_to '詳細', post_path(post), class: "btn btn-primary" %>
            </div>
            <div class="card-footer text-muted">
                <%= post.created_at.to_s(:datetime_jp) %>に投稿されました
            </div>
        </div>
        <br>
        <% end %>
        <br>
    </div>
</div>
<%= paginate @posts %>