
<div class="row">
    <div class="col-md-8 offset-2">
        <%= form_tag posts_path, method: :get, class: 'posts__searchForm' do  %>
            <%= select_tag :tag_id, 
                            options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                            {
                                prompt: 'タグで絞り込み',
                                class: 'form-control posts__select',
                                onchange: 'submit(this.form);'
                            }
            %>
        <% end %>
        <br>
        <% @posts.each do |post| %>
        <div class="card">
            <div class="card-body">
                <% if post.user.image? %>
                    <a href="/users/<%= post.user.id %>"><img src=<%= post.user.image %> class = "icon_image" alt="ユーザーアイコン"></a>
                    <%= post.user.username %>
                    <span>さんが<%= post.created_at.to_s(:datetime_jp) %>に投稿</span>
                <% else %>
                    <a href="/users/<%= post.user.id %>"><img src="/assets/default.png" class="icon_image" alt="ユーザーアイコン" %></a>
                    <%= post.user.username %>
                <% end %>
                <%= link_to post_path(post) do %>
                    <h5 class="card-title text-dark"><%= post.title %></h5>
                <% end %>
                <% post.tags.each do |tag| %>
                    <span class="badge badge-primary"><%= tag.name %></span>
                <% end %>
                <br>
                <%= fa_icon 'like', class: "fas fa-check fa-lg" %><%= post.likes.count %>
                <%= fa_icon 'like', class: "far fa-comment-o fa-lg" %><%= post.comments.count %>
            </div>
        </div>
        <br>
        <% end %>
        <br>
    </div>
</div>
<%= paginate @posts %>