<% @posts.each do |post| %>
<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card text-center">
            <div class="card-header">
                <%= post.user.username %>
            </div>
            <div class="card-body">
                <span>タイトル</span>
                <h5 class="card-title"><%= post.title %></h5>
                <hr>
                <span>コンテント</span>
                <p class="card-text"><%= post.body %></p>
                <% if current_user.already_liked?(post) %>
                    <%= link_to post_like_path(post, id: post.id), method: :delete do %>
                        <i class="fa fa-heart fa-2x" aria-hidden="true"></i>
                    <% end %>
                <% else %>
                    <%= link_to post_likes_path(post), method: :post do %>
                        <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i>
                    <% end %>
                <% end %>
                <%= post.likes.count %>
                <br>
                <%= link_to '詳細', post_path(post), class: "btn btn-primary" %>
            </div>
            <div class="card-footer text-muted">
                <%= post.created_at.to_s(:datetime_jp) %>に投稿されました
            </div>
        </div>
        <br>
    </div>
</div>
<% end %>