<br>
<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card text-center">
            <div class="card-header">
                <% if @post.user.image? %>
                        <a href="/users/<%= @post.user.id %>"><img src=<%= @post.user.image %> class = "icon_image" alt="ユーザーアイコン"></a>
                <% else %>
                        <a href="/users/<%= @post.user.id %>"><img src="/assets/default.png" class="icon_image" alt="ユーザーアイコン" %></a>
                <% end %>
                <%= @post.user.username %>
                <p><%= @post.created_at.to_s(:datetime_jp) %> 投稿</p>
            </div>
            <div class="card-body">

                <h5 class="card-title"><%= @post.title %></h5>
                <% @post.tags.each do |tag| %>
                    <span class="badge badge-primary"><%= tag.name %></span>
                <% end %>
                <p class="card-text"><%= simple_format @post.body %></p>
                <% if user_signed_in? && current_user.id == @post.user.id %>
                    <%= link_to '編集', edit_post_path(@post.id), class: 'btn btn-primary' %>
                    <%= link_to '削除', post_path(@post.id), class: 'btn btn-primary', method: :delete, data:{ confirm: 'Are you sure?' } %>
                <% end %>
                <br>
                <br>
                <% if user_signed_in? %>
                    <% if current_user.already_liked?(@post) %>
                        <%= link_to post_like_path(@post), method: :delete do %>
                        <div class='show-top-liked-btn'>
                            <span>LIKE ✔︎<%= @post.likes.count %></span>
                        </div>
                        <% end %>
                    <% else %>
                        <%= link_to post_likes_path(@post), method: :post do %>
                        <div class='show-top-like-btn'>
                            <span>LIKE ✔︎<%= @post.likes.count %></span>
                        </div>
                        <% end %>
                    <% end %>
                <% end %>
                <br>
                <br>
                <%= link_to 'LIKEしたユーザーを見る', "/posts/like/#{@post.id}", class: "text-dark" %>
                <br>

            </div>
        </div>
        <div class="p-comment__list">
            <div class="p-comment_listTitle">コメント<div>
            <% @post.comments.each do |comment| %>
            <div class="p-comment__item">
                <p><%= simple_format(comment.content) %></p>
                <div class="p-comment__bottomLine">
                    <span><%= comment.user.username %></span>
                    <span><%= comment.created_at.to_s(:datetime_jp) %></span>
                    <% if user_signed_in? && current_user.id == comment.user.id %>
                        <span><%= link_to '削除', post_comment_path(comment.post.id, comment.id), method: :delete %></span>
                    <% end %>
                </div>
            </div>
        <% end %>
        </div>
        <%= render partial: 'shared/comment_form', local: { comment: @comment } %>
    </div>
</div> 